.add-new-image-modal {
	input[type=file] { display: none; }
	.image-preview {
		width: 70%;
		max-width: 400px;
		margin: auto;
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
		img { max-height: 100%; }	
		.uk-placeholder {
			height: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

