@import '../../styles/yd-variables.scss';

.section-invited {
	@extend ∞concrete-bg;
	padding-left: 8vw;
	padding-right: 8vw;
	font-size: 1.1rem;
	min-height: 85vh;
	display: flex;
	flex-direction: column;
	.section-title { color: $info; margin-bottom: 0; }
	.go-to-rsvp {
		color: $info;
		border: 3px  solid $info;
		background-color: transparent;
		margin-bottom: 30px;
		// font-family: Roboto Condensed;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;
    vertical-align: middle;
    line-height: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
		touch-action: manipulation;
		cursor: pointer;

		&:hover {
			background: lighten($info, 2%);
			color: #fff;
			border-color: darken($info, 10%);
		}
		&:focus { outline: none; }
	}
}