.tile {
	max-width: 450px;
	text-align: left;
	padding: 40px;
	background: #f1f1F1;
	color: #111;
}

.input-material {
	border: 0;
	border-bottom: 1px solid #111;
	background: none;
	width: 100%;
	font-weight: 300;
	transition: border-color 300ms, color 300ms ;
	&:focus, &:active {
		outline: none;
		border-color: #7676a2;
		color: #7676a2;
	}
}

.checkbox-group {
	display: flex;
	align-items: center;
	border-radius: 40px;
	padding: 5px;
	margin: 10px -10px;
	cursor: pointer;
	border: 1px solid transparent;
	overflow: hidden;

	&:hover {
		border-color: #ccc;
		background: #d8d8d8;
	}
	&.selected {
		border-color: #32d296;
		border-color: #ffeb7d;
		background: #edfbf6;
		background: rgba(183, 175, 130, 0.7);
		color: #32d296;
		color: #ffeb7d;
		font-weight: 400;
	}
	* { cursor: pointer; }
}

.custom-checkbox {
	text-indent: -100px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: background-color 300ms, color 300ms, text-indent linear 400ms;
}

.checkbox-group.selected .custom-checkbox {
	background: #32d296;
	background: #dcc33b;
	color: #fff;
	text-indent: 0px;
}

.custom-checkbox + label {
	margin: 0 0 0 15px;
}

.section-rsvp {
	overflow: hidden;
	position: relative;
	background: #010101 url('/assets/723B3933.jpg') no-repeat center center;
	background-size: cover;
	color: #ccc;
	font-size: 1.1rem;
	&:before {
		content: '';
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		background-color: rgba(0,0,0,0.7);
		z-index: 0;
		filter: brightness(50%) blur(7px);
		background: center center / cover no-repeat url('/assets/723B3933.jpg')
	}
	> * { position: relative; z-index: 1;}
	.section-title {
		width: auto;
		display: inline-block;
		padding: 0 30px 20px;
		border-bottom: 1px solid #ffeb7d;
	}
	header {
		font: 1.7rem/2.1rem 'Great Vibes';
	}
	strong {
		font-size: 1.7rem;
		color: #ffeb7d;
	}
	.rsvps, .dietry-feedback {
		justify-content: center;
	}
	.rsvp {
		@extend .tile;
		min-width: 300px;
		margin: 30px;
		flex: 1;
		background: rgba(255,255,255,0.6)
	}
	.dietry-feedback .rsvp {
		min-width: 0;
		max-width: 960px;
	}
	button {
		margin: 40px 0;
		background: #80705e;
		border: 1px solid lighten(#80705e, 20%);
		color: #fff;
	}
	.attendance { margin-top: 15px; }
	.attendance + .dietry-requirements { margin-top: 30px }
	.dietry-requirements {
		padding: 15px;
		margin: 15px -15px 0;
		background: rgba(218, 218, 218, 0.6);

		header { font-family: 'Roboto Condensed'; font-size: 1rem; }

		.food-choices { display: flex; margin: 0 -5px; }

		.course {
			background: #f1f1f1;
			padding: 15px;
			margin: 15px 5px;
			flex: 1;
			small { display: block; margin: 10px 0; }
		}
	
		.course-options-option {
			display: flex;
			opacity: 0.5;
			transition: opacity 330ms;
			cursor: pointer;

			&:hover { opacity: 0.8; }
			&.selected { opacity: 1; }
		}

		.course-options-option header {
			font-size: 1rem;
			text-align: center;
		}

		.course-options-option {
			p { margin: 0; }
			figure {
				margin-bottom: 0;
				width: 35px;
				height: 35px;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				padding: 5px;
				display: flex;
				margin-right: 10px;
			}
			
			figure svg { flex: 1; }
			&.selected figure svg g {
				fill: #edfbf6;
			}
		}

		.allergies label { font-weight: 400; }
	}
}