.DS_Store
node_modules
redis_data
.next
*.js
**/*.js
!ecosystem.config.js
!next.config.js
# config/*.js
# migrations/*.js
# seeders/*.js
# app/**/*.js
config/database.json
config/mailgun.json
uploads/*
