html, body, .__next { height: 100%; }

textarea[contentEditable=true] {
	min-height:80px;
	height: auto;
}

.donation-page {
	min-height: 100%; background: url('/assets/crossword.png'); padding-top: 40px;
	
	.donation-header {
		display: flex;
		align-items: center;
		justify-content: center;
		h1 { font-family: 'Great Vibes'; margin-left: 1rem; }
		img { width: 100px }
	}
	
	.message:first-of-type {
		margin-top: 3rem;
	}
	.message {
		font-size: 1.3rem;
		font-family: Source Sans Pro;
		text-align: center;
		line-height: 2em;
		font-style: italic;
	}
	
	.footer-message {
		font-family: Great Vibes;
		font-size: 1.7rem;
		font-style: normal;
	}
	
	label {
		font-family: 'Source Sans Pro';
		color: navy;
	}
	
	.thank-you-screen {
		background: #8ec49a;
		color: #3ba453;
		min-height: 100%;
		overflow: hidden;
	
		header {
			display: flex;
			align-items: center;
			i {
				font-size: 5rem;
				border-radius: 100%;
				background: #fff;
			}
			h1 { color: #fff; margin: 0; margin-left: 15px }
		}
	
		main {
			padding: 0 15px;
			margin: 60px auto 0;
		}
	}
}