@import "bootstrap/scss/functions.scss";
@import "bootstrap/scss/variables.scss";
@import "bootstrap/scss/mixins.scss";
@import "bootstrap/scss/reboot.scss";
@import "bootstrap/scss/buttons.scss";
// @import "bootstrap/scss/forms.scss";

html, body {
	height: 100%;
}

.__next { min-height: 100%; }

.wedding-invitation {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	text-align: center;
	
	h1, h2, h3 { font-family: 'Great Vibes', cursive; }
	h1 { font: 52px/56px Great Vibes; }
}

.yd-container { margin: auto; max-width: 600px; }

.fancy {
	font: 1.5em/normal 'Great Vibes';
	display: inline-block;
	padding: 0 5px;
}

.tile {
	max-width: 450px;
	text-align: left;
	padding: 40px;
	background: #f1f1F1;
	color: #111;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 50%; 
	vertical-align: middle; 
	overflow: hidden; 

	.svg-content { 
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.section {
	padding: 40px 20px;
	min-height: 400px;
	@media screen and (min-width: 1200px) {
		padding: 60px 30px;
	}
}

.emblem {
	max-width: 300px;
	width: 85%;
}

.selfie {
	display: flex;
	justify-content: center;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 200px;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		border: 10px solid rgba(255, 255, 255, 0.3);
		top: 0;
		left: 0;
		border-radius: 100%;
	}
	img { height:100%; }
}

.checkbox-group {
	display: flex;
	align-items: center;
	border-radius: 40px;
	padding: 5px;
	margin: 10px 0;
	cursor: pointer;
	border: 1px solid transparent;

	&:hover {
		border-color: #ccc;
		background: #efefef;
	}
	&.active {
		border-color: #32d296;
		background: #edfbf6;
		color: #32d296;
		font-weight: 400;
	}
}

.checkbox-group.active .custom-checkbox {
	background: #32d296;
	color: #fff;
	text-indent: 0px;
}

.custom-checkbox {
	text-indent: -1000px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 300ms;
}

.custom-checkbox + label {
	margin-left: 15px;
}

.section-title {
	text-align: center;
	margin-bottom: 3.5vw;
	font: 42px/46px Great Vibes;

	@media screen and (min-width: 768px){
		font: 47px/51px Great Vibes;
	}

	@media screen and (min-width: 1200px){
		font: 62px/66px Great Vibes;
	}

	span {
		font: 300 26px/40px Roboto Condensed;
		position: relative;
		padding-right: 30px;
		&:after {
			content: '';
			border-right: 1px solid;
			transform: rotateZ(20deg);
			display: inline-block;
			height: calc(100% + 20px);
			width: 1px;
			background: #000;
			position: absolute;
			top: -10px;
			right: 15px;
			padding: 10px 0;
		}
	}
}

.concrete-bg {
	background: url('/assets/vintage-concrete.png');
}

.bridal-party {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.bridal-party-member {
	margin: 15px; 
	padding: 20px; 
	justify-content: flex-end;
	display: flex;
	flex-direction: column;
	
	&.primary {
		background: #80705e;
		color: #e9e9e9;
		footer { color: lighten(#80705e, 20%); }
		.badge {
			font-size: 0.8rem;
			height: 30px;
			padding: 0 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-transform: uppercase;
			margin: 0 auto 15px;
			background: black;
			border-radius: 6px;
		}

		@media (min-width: 1400px) {
			margin: 30px; 
			padding: 30px; 
		}
	}

	header { font-family: 'Great Vibes'; font-size: 2rem; }
	footer { font-style: italic; color: #969696; }
}

.section-bridal-party {
	background: rgb(255, 253, 249);
}

.section-groomsmen {
	@extend .concrete-bg;
}

.section-rsvp {
	position: relative;
	background: #010101 url('/assets/723B3933.jpg') no-repeat center center;
	background-size: cover;
	color: #ccc;
	font-size: 1.1rem;
	&:before {
		content: '';
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		background-color: rgba(0,0,0,0.7);
		z-index: 0;
	}

	> * { position: relative; z-index: 1;}
	.section-title {
		width: auto;
		display: inline-block;
		padding: 0 30px 20px;
		border-bottom: 1px solid #ffeb7d;
	}
	header {
		font: 1.7rem/2.1rem 'Great Vibes';
	}
	strong {
		font-size: 1.7rem;
		color: #ffeb7d;
	}
	.rsvps {
		justify-content: center;
	}
	.rsvp {
		@extend .tile;
		min-width: 300px;
		margin: 30px;
		flex: 1;
	}
	button {
		margin: 40px 0;
		background: #80705e;
		border: 1px solid lighten(#80705e, 20%);
		color: #fff;
	}
}

@keyframes infinityrotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
	
  50% {
		transform: rotateX(180deg) rotateY(0deg);
	}
	
	100% {
		transform: rotateX(180deg) rotateY(180deg);
	}
}