// $primary: #cbbf7b;
$primary: #ffeb7d;
$primary-selected: #dcc33b;

$secondary-hover: #b9b9ff;
$secondary: #21226e;

$info: #80705e;


∞concrete-bg {
	background: url('/assets/vintage-concrete.png');
}