// $primary: #cbbf7b;
$primary: #ffeb7d;
$primary-selected: #dcc33b;

$secondary-hover: #b9b9ff;
$secondary: #070b58;

$info: #80705e;

$grey: #c4c4c3;

∞concrete-bg {
	background: url('/assets/vintage-concrete.png');
}